@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 48px 0 44px 0;
}
header .container h1 {
  font-size: 0px;
}
header .container .logo {
  height: 18px;
  width: 168px;
}
header .container .logo img {
  height: 100%;
  width: auto;
}
header .container ul li {
  display: inline-block;
  padding: 0 10px;
}
header .container ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  letter-spacing: 0.56px;
  line-height: 3.21;
  letter-spacing: 0.56;
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
header .container ul li a:hover {
  padding-bottom: 14px;
  border-bottom: solid 4px #e8bf5d;
}

.hiro {
  background-image: url(/img/adam.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 110px);
  display: flex;
  align-items: flex-end;
}
.hiro .container-smal {
  width: 968px;
  margin: 0 auto 141px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: solid 2px #e8bf5d;
  padding-left: 16px;
}
.hiro h2 {
  font-size: 65px;
  letter-spacing: 2.6px;
  color: #fff;
}
.hiro span {
  font-size: 31px;
  letter-spacing: 1.24px;
  color: #fff;
}

.about__block {
  display: flex;
}
.about__block h3 {
  font-size: 21px;
  line-height: 31px;
  letter-spacing: 0.84px;
  margin-bottom: 36px;
}
.about__block-history {
  width: 580px;
}
.about__block-history dt {
  margin: 0 20px 50px 0;
  float: left;
  font-size: 21px;
  line-height: 31px;
  letter-spacing: 0.84px;
  font-weight: 700;
}
.about__block-history dd {
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.64px;
}
.about__block-expertise {
  padding-left: 30px;
}
.about__block-expertise p {
  width: 480px;
  font-size: 14px;
  line-height: 31px;
  letter-spacing: 0.56px;
  align-self: left;
  color: #666666;
}

.area {
  background-color: black;
  padding-bottom: 450px;
}
.area .container .block-title h2 {
  color: #fff;
}
.area .container .block-title span {
  color: #b9b9b9;
}
.area .container .block-title::before {
  color: #fff;
}
.area .container .list {
  color: #fff;
}
.area .container .list h3 {
  font-size: 21px;
  line-height: 31px;
  letter-spacing: 0.84px;
}
.area .container .list p {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.56px;
}
.area .container .col2 li {
  display: block;
  float: left;
  width: 38%;
}
.area .container .col2 {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.area .container .labour::before {
  content: "";
  background-image: url(/img/labour.png);
  margin-left: -70px;
  background-size: 42px;
  background-repeat: no-repeat;
  height: 42px;
  width: 42px;
  position: absolute;
}
.area .container .client::before {
  content: "";
  background-image: url(/img/service.png);
  margin-left: -70px;
  background-size: 42px;
  background-repeat: no-repeat;
  height: 42px;
  width: 42px;
  position: absolute;
}
.area .container .cyber::before {
  content: "";
  background-image: url(/img/cyber.png);
  margin-left: -70px;
  background-size: 42px;
  background-repeat: no-repeat;
  height: 42px;
  width: 42px;
  position: absolute;
}
.area .container .estate::before {
  content: "";
  background-image: url(/img/estate.png);
  margin-left: -70px;
  background-size: 42px;
  background-repeat: no-repeat;
  height: 42px;
  width: 42px;
  position: absolute;
  background-position: left;
}
.area .container li {
  margin-bottom: 75px;
  padding-left: 12%;
}

.team li {
  display: inline-block;
  margin-right: 19px;
}
.team li .team-photo {
  width: 270px;
  height: 300px;
}
.team li .team-photo img {
  height: 100%;
  width: auto;
}
.team li address {
  margin-top: 30px;
  font-size: 21px;
  line-height: 31px;
  letter-spacing: 0.84px;
  display: block;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}
.team li span {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.56px;
  color: #666666;
}

.faq {
  background-color: #111111;
}
.faq .block-title .title h2 {
  color: #fff;
}
.faq .block-title .title span {
  color: #b9b9b9;
}
.faq .block-title::before {
  color: #fff;
}
.faq .colorbox {
  background-color: #e8bf5d;
  height: 281px;
  width: 500px;
  box-shadow: 0px 12px 40px 0 rgba(216, 178, 87, 0.32);
}
.faq .colorbox p {
  padding: 47px 47px 66px 47px;
  align-items: center;
  font-size: 14px;
  line-height: 31px;
  letter-spacing: 0.56px;
  font-weight: 600;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  counter-reset: number 0;
}
body h3 h2 {
  font-family: "Playfair Display", serif;
}
body section {
  padding: 80px 0 90px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.block-title {
  width: 800px;
  counter-increment: number;
  padding-bottom: 100px;
}
.block-title::before {
  margin: -48px 0 0 0;
  display: block;
  position: absolute;
  content: "0" counter(number);
  letter-spacing: 10px;
  font-size: 194px;
  color: #111;
  opacity: 0.1;
  font-weight: 500;
}
.block-title .title {
  border-left: solid 3px #e8bf5d;
  padding-left: 20px;
}
.block-title .title h2 {
  font-family: "Playfair Display", serif;
  font-size: 31px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: 1.24px;
  text-align: left;
  color: #111;
}
.block-title .title p {
  font-family: "Playfair Display", serif;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: 0.84px;
  color: #666;
}

.clients {
  background-image: url(/img/bimage.png);
  background-color: #111111;
  background-repeat: no-repeat;
  background-size: 1920px auto;
  background-repeat: no-repeat;
  color: #ffffff;
}
.clients .block-title h2 {
  color: #fff;
}
.clients .block-title span {
  color: #b9b9b9;
}
.clients .block-title::before {
  color: #fff;
}
.clients .box-quote {
  background-image: url(/img/comas.png);
  background-repeat: no-repeat;
  background-size: 30px 25px;
  display: flex;
}
.clients .box-quote blockquote {
  padding-left: 45px;
  background-image: url(/img/comas.png);
  background-repeat: no-repeat;
  background-size: 30px 25px;
}
.clients .box-quote blockquote p {
  font-size: 14px;
  line-height: 31px;
  letter-spacing: 0.56px;
  margin-bottom: 39px;
}
.clients .box-quote blockquote address {
  font-size: 21px;
  line-height: 31px;
  letter-spacing: 0.84;
}
.clients .box-quote blockquote span {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.56px;
  display: block;
}
.clients .shadow {
  box-shadow: 20px 20px 0px #e8bf5d;
  height: 305px;
  width: 370px;
  margin: 0 55px 80px 0;
}
.clients .shadow img {
  height: 100%;
  width: auto;
}

.post {
  display: flex;
}
.post .form {
  border-bottom: solid 3px #e8bf5d;
  margin-right: 30px;
}
.post .form .comments {
  margin-left: 25px;
}
.post .form .comments::before {
  content: "";
  background-image: url(/img/comment.png);
  position: absolute;
  background-size: 20px;
  height: 20px;
  width: 20px;
  margin: 0 0 15px -25px;
}
.post .form .share {
  padding-bottom: 20px;
  float: right;
}
.post .form .share::before {
  content: "";
  background-image: url(/img/share.png);
  position: absolute;
  background-size: 20px;
  height: 20px;
  width: 20px;
  margin-left: -25px;
}
.post .form .form-img {
  width: 370px;
  height: 299px;
  margin-bottom: 30px;
}
.post .form .form-img img {
  width: 100%;
  height: auto;
}
.post .form .by {
  display: inline;
  color: #666666;
}
.post .form h4 {
  font-size: 21px;
  line-height: 31px;
  letter-spacing: 0.84px;
  font-family: "Playfair Display", serif;
}
.post .form p {
  font-size: 14px;
  line-height: 31px;
  letter-spacing: 0.56px;
  color: #666666;
  margin: 38px 0;
}
.post .form address {
  display: inline;
  color: black;
  font-size: 15px;
  font-weight: 600;
}
.post .form time {
  font-style: italic;
  display: inline;
  color: #666666;
  float: right;
}
.post .form a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  letter-spacing: 0.64px;
}

.holder {
  height: 470px;
  width: 870px;
  box-shadow: 0px 1px 50px 1px rgba(0, 0, 0, 0.1);
  margin: 70px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.holder .form-box {
  display: flex;
  flex-direction: column;
}
.holder .form-box textarea {
  resize: none;
  -moz-columns: 20;
       columns: 20;
}
.holder .form-box button {
  width: 181px;
  height: 50px;
  border-radius: 25px;
  background-color: #e8bf5d;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 31px;
  letter-spacing: 0.64px;
  font-weight: 600;
  font-family: "Playfair Display", serif;
}
.holder .form-box .form-control {
  width: 350px;
  display: block;
  outline: 0;
  font-size: 14px;
  line-height: 31px;
  letter-spacing: 0.56px;
  color: #b9b9b9;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
}
.holder .map {
  width: 362px;
  height: 362px;
  box-shadow: -24px 24px 0px #e8bf5d;
  margin: 100px 0 100px 0;
}

footer {
  background-color: black;
  color: #b5b5b5;
  padding: 40px 0;
  font-family: "Playfair Display", serif;
}
footer .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
footer .container .social-position {
  display: flex;
}
footer .container .social-position .social {
  color: #fbfbfb;
  height: 16px;
  width: 16px;
  padding: 0 8px;
}
footer .container .social-position .social img {
  width: 100%;
  height: auto;
  filter: invert(100%);
}

button {
  width: 181px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  background-color: #e8bf5d;
  border: none;
  cursor: pointer;
  font-family: "Playfair Display", serif;
}