.about__block {
    display: flex;
    h3 {
        font-size: 21px;
        line-height: 31px;
        letter-spacing: 0.84px;
        margin-bottom: 36px;
    }
    &-history {
        width: 580px;
        dt {
            margin: 0 20px 50px 0;
            float: left;
            font-size: 21px;
            line-height: 31px;
            letter-spacing: 0.84px;
            font-weight: 700;
        }
        dd {
            margin-bottom: 50px;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0.64px;
        }
    }
    &-expertise {
        padding-left: 30px;
        p {
            width: 480px;
            font-size: 14px;
            line-height: 31px;
            letter-spacing: 0.56px;
            align-self: left;
            color: #666666;
        }
    }
}
