.area {
    background-color: black;
    padding-bottom: 450px;
    .container {
        .block-title {
            h2 {
                color: #fff;
            }
            span {
                color: #b9b9b9;
            }
            &::before{
                color: #fff;
            }
        }
        .list{
            color: #fff;
            h3 {
                font-size: 21px;
                line-height: 31px;
                letter-spacing: 0.84px;
            }
            p {
                font-size: 14px;
                line-height: 25px;
                letter-spacing: 0.56px;
            }
        }
        .col2 li {
            display:block;
            float:left;
            width: 38%;
        }
        .col2 {
            margin:0;
            padding:0;
            list-style-type:none;
        }
        .labour::before {
            content: "";
            background-image: url(/img/labour.png);
            margin-left: -70px;
            background-size: 42px;
            background-repeat: no-repeat;
            height: 42px;
            width: 42px;
            position: absolute;
        }
        .client::before {
            content: "";
            background-image: url(/img/service.png);
            margin-left: -70px;
            background-size: 42px;
            background-repeat: no-repeat;
            height: 42px;
            width: 42px;
            position: absolute;
        }
        .cyber::before {
            content: "";
            background-image: url(/img/cyber.png);
            margin-left: -70px;
            background-size: 42px;
            background-repeat: no-repeat;
            height: 42px;
            width: 42px;
            position: absolute;
        }
        .estate::before {
            content: "";
            background-image: url(/img/estate.png);
            margin-left: -70px;
            background-size: 42px;
            background-repeat: no-repeat;
            height: 42px;
            width: 42px;
            position: absolute;
            background-position: left;
        }
        li {

            margin-bottom: 75px;
            padding-left: 12%;
        }
}
}