body{
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    counter-reset: number 0;
    h3 h2{
        font-family: 'Playfair Display', serif;
    }
    section {
        padding: 80px 0 90px;
    }
}
