.clients {
    background-image: url(/img/bimage.png);
    background-color: #111111;
    background-repeat: no-repeat;
    background-size: 1920px auto;
    background-repeat: no-repeat;
    color: #ffffff;
    .block-title {
        h2 {
            color: #fff;
        }
        span {
            color: #b9b9b9;
        }
        &::before{
            color: #fff;
        }
    }
    .box-quote{
        background-image: url(/img/comas.png);
        background-repeat: no-repeat;
        background-size: 30px 25px;
        display: flex;
        blockquote {
            padding-left: 45px;
            background-image: url(/img/comas.png);
            background-repeat: no-repeat;
            background-size: 30px 25px;
            p{
                font-size: 14px;
                line-height: 31px;
                letter-spacing: 0.56px;
                margin-bottom: 39px;
            }
            address {
                font-size: 21px;
                line-height: 31px;
                letter-spacing: 0.84;
            }
            span {
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.56px;
                display: block;
            }
        }
    }
    .shadow {
        box-shadow: 20px 20px 0px #e8bf5d;
        height: 305px;
        width: 370px;
        margin: 0 55px 80px 0;
        img {
            height: 100%;
            width: auto;
        }
        
    }   
}
