
.block-title{
    width: 800px;
    counter-increment: number;
    padding-bottom: 100px;
    &::before{
        margin: -48px 0 0 0;
        display:block;
        position: absolute;
        content: "0" counter(number);
        letter-spacing: 10px;
        font-size: 194px;
        color: #111;
        opacity: 0.1;
        font-weight: 500;
    }
    .title {
        border-left: solid 3px #e8bf5d;
        padding-left: 20px;
        // margin-bottom: 50px;
        h2 {
            font-family: 'Playfair Display', serif;
            font-size: 31px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.45;
            letter-spacing: 1.24px;
            text-align: left;
            color: #111;

        }
        p {
            font-family: 'Playfair Display', serif;
            font-size: 21px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.48;
            letter-spacing: 0.84px;
            color: #666;
        }
    }

}