.faq { 
    background-color: #111111;
    .block-title{
        .title{
            h2 {
                color: #fff;
            }
            span {
                color: #b9b9b9;
            }
        }
        &::before{
            color: #fff;
        }
    }
    .colorbox {
        background-color: #e8bf5d;
        height: 281px;
        width: 500px;
        box-shadow: 0px 12px 40px 0 rgba(216, 178, 87, 0.32);
        p {
            padding: 47px 47px 66px 47px;
            align-items: center;
            font-size: 14px;
            line-height: 31px;
            letter-spacing: 0.56px;
            font-weight: 600;
        }
    }
}