footer {
    background-color: black;
    color: #b5b5b5;
    padding: 40px 0;
    font-family: 'Playfair Display', serif;
    .container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        .social-position {
            display: flex;
            .social {
                color: #fbfbfb;
                height: 16px;
                width: 16px;
                padding: 0 8px;
                img {
                    width: 100%;
                    height: auto;
                    filter: invert(100%);
                }
            }
        }
    }
}

    
