
header { 
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 48px 0 44px 0;
        h1 {
            font-size: 0px;
        }
        .logo {
            height: 18px;
            width: 168px;
            img {
                height: 100%;
                width: auto;
            }
        }
        ul li {
            display: inline-block;
            padding: 0 10px;
            a {
                text-transform: uppercase;
                text-decoration: none;
                color: #000;
                font-size: 12px;
                letter-spacing: 0.56px;
                line-height: 3.21;
                letter-spacing: 0.56;
                text-align: right;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                &:hover{
                    padding-bottom: 14px;
                    border-bottom: solid 4px #e8bf5d;
                }
        }
    }
    }
}