.hiro{
    background-image: url(/img/adam.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 110px);
    display: flex;
    align-items: flex-end;
    .container-smal {
        width: 968px;
        margin: 0 auto 141px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-left: solid 2px #e8bf5d;
        padding-left: 16px;
    }
    h2 {
        font-size: 65px;
        letter-spacing: 2.6px;
        color: #fff;
    }
    span {
        font-size: 31px;
        letter-spacing: 1.24px;
        color: #fff;
    }
}


