.holder {
    height: 470px;
    width: 870px;
    box-shadow: 0px 1px 50px 1px rgb(0,0,0,0.1);
    margin: 70px auto;
    display: flex;
    justify-content: space-around;
    align-items:center;
    text-align: center;
    .form-box{
        display: flex;
        flex-direction: column;
        textarea{
            resize: none;
            columns: 20;
        }
        button {
            width: 181px;
            height: 50px;
            border-radius: 25px;
            background-color: #e8bf5d;
            border: none;
            cursor: pointer;
            font-size: 16px;
            line-height: 31px;
            letter-spacing: 0.64px;
            font-weight: 600;
            font-family: 'Playfair Display', serif;
        }
        .form-control {
            width: 350px;
            display: block;
            outline: 0;
            font-size: 14px;
            line-height: 31px;
            letter-spacing: 0.56px;
            color: #b9b9b9;
            border: none;
            font-family: 'Open Sans', sans-serif;
            font-style: italic;
            margin-bottom: 25px;
            border-bottom: 1px solid #eee;
            &::placeholder {
                font-family: 'Open Sans', sans-serif;
                font-style: italic;
                font-size: 14px;
                color: #b9b9b9;
                line-height: 31px;
                outline: 0;
            }
        }
    }
    .map {
        width: 362px;
        height: 362px;
        box-shadow: -24px 24px 0px #e8bf5d;
        margin: 100px 0 100px 0;

    }
}