.post {
    display: flex;
    .form {
        border-bottom: solid 3px #e8bf5d;
        margin-right: 30px;
        .comments{
            margin-left: 25px;
            &::before {
                content: "";
                background-image: url(/img/comment.png);
                position: absolute;
                background-size: 20px;
                height: 20px;
                width: 20px;  
                margin: 0 0 15px -25px;
            }
        }   
        .share {
            padding-bottom: 30px;
            float: right;
            &::before {
                content: "";
                background-image: url(/img/share.png);
                position: absolute;
                background-size: 20px;
                height: 20px;
                width: 20px;
                margin-left: -25px;
            }
        }   
        .form-img {
            width: 370px;
            height: 299px;
            margin-bottom: 30px;
            img {
                width: 100%;
                height: auto;
            }
        }
        .by {
            display: inline;
            color:#666666;
        }
        h4 {
            font-size: 21px;
            line-height: 31px;
            letter-spacing: 0.84px;
            font-family: 'Playfair Display', serif;
        }
        p {
            font-size: 14px;
            line-height: 31px;
            letter-spacing: 0.56px;
            color: #666666;
            margin: 38px 0;
        }
        address {
            display: inline;
            color: black;
            font-size: 15px;
            font-weight: 600;
        }
        time {
            font-style: italic;
            display: inline;
            color: #666666;
            float: right;
        }
        a {
            text-decoration: none;
            color: black;
            font-size: 16px;
            letter-spacing: 0.64px;
        }
    }
}