.team li{
    display: inline-block;
    margin-right: 19px;
    .team-photo {
        width: 270px;
        height: 300px;
        img {
            height: 100%;
            width: auto;
        }
    }
    address {
        margin-top: 30px;
        font-size: 21px;
        line-height: 31px;
        letter-spacing: 0.84px;
        display: block;
        font-family: 'Playfair Display', serif;
        font-weight: 600;
    }
    span {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.56px;
        color: #666666;
    }
}
