button{
    width: 181px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
    background-color: #e8bf5d;
    border: none;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
}